<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}"
      onsubmit="return confirm('ete vous sure de vouloir suprimer {{ category.name }}?');" class="d-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn">Delete</button>
</form>
