<form method="post" action="{{ path('admin_article_delete', {'id': article.id}) }}"
      onsubmit="return confirm('ete vous sure de vouloir suprimer {{ article.name }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger mt-1 ">Supprimer</button>
</form>
